In [0]:
from preprocessing import *
from clustering import *
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import time
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture
from GMM import my_GMM_uniform_cluster
data_contrats = pd.read_csv('train_contrats_approx.csv',sep=",")
from sklearn.metrics import adjusted_rand_score
from collections import Counter

Le but est ici d'évaluer la stabilité de differentes méthodes de clustering, en utilisant le procédé suivant : 
Clustering sur un jeu d'entrainement (75%) (Clustering A)
Nouveau clustering sur toute la base de données, ie 75% initaux + 25% restants (Clustering B)
Calcul du adjusted rand index, qui est d'autant plus grand que deux points dans un même cluster dan le clustering A sont toutjours dans le même cluster dans le clustering B, ou que deux points dans deux clusters différents dans le clustering A sont toutjours dans deux clusters différents dans le clustering B.
Lors du calcul du score, seuls 75% des points sont donc considérés.
Selon nous, une perturbation de 25% est forte, et permettera de vraiment mettre les méthodes de clustering à l'épreuve.

In [0]:
data = pd.read_csv("train_contrats_approx.csv", sep=",", engine="python")

# For original database ---
#data = pd.read_csv("train_contrats.csv", sep=";")
#data["Freq_sinistre"] = data["nombre_de_sinistre"]/data["Exposition_au_risque"]

#train_data, _ = preprocessing(data, balance=False, train_size=0.75)
preprocessing(data, balance=False, train_size=1.)[0]
data = preprocessing(data, balance=False, train_size=1.)[0]
train_data = data[:(int(len(data)*0.75))]

In [0]:
train_data

       Classe_Age_Situ_Cont  ...  Age_du_vehicule_> 5 ans
0                  0.596130  ...                 0.000000
1                  0.541791  ...                 0.108358
2                  0.542157  ...                 0.108431
3                  0.692925  ...                 0.000000
4                  0.755575  ...                 0.000000
...                     ...  ...                      ...
65416              0.110427  ...                 0.000000
65417              0.110510  ...                 0.000000
65418              0.216923  ...                 0.108461
65419              0.239046  ...                 0.000000
65420              0.122153  ...                 0.000000

[65421 rows x 33 columns]

#### Adjusted rand index

Pour avoir une baseline et mieux intepreter l'ARI, il est calculé ici pour un clustering **aléatoire**, pour un nombre de point à peu près égal à celui de notre base de données. L'ARI devrait dans ce cas valoir 0.

In [0]:
ari = 0
for i in range(100):
  clust_A = np.random.randint(low=0, high=4, size=65000)
  clust_B = np.random.randint(low=0, high=4, size=65000)
  ari += adjusted_rand_score(clust_A,clust_B)/100

In [4]:
print(ari)

9.029652763787604e-07

### GMM clustering

Let's try with 5 clusters at first.

Train data

In [0]:
t= time.time()
estimator = GaussianMixture(n_components=5,
              covariance_type='full', max_iter=500, random_state=0)
GMM_labels_train=estimator.fit_predict(train_data.drop(["Freq_sinistre"],axis=1))
elapsed = time.time()-t
print("time elapsed : {} s".format(elapsed))

time elapsed : 6.481006860733032 s

In [0]:
Counter(GMM_labels_train)

Counter({0: 1108, 1: 41060, 2: 8147, 3: 6406, 4: 8700})

All data

In [0]:
t= time.time()
estimator = GaussianMixture(n_components=5,
              covariance_type='full', max_iter=500, random_state=0)
GMM_labels_all=estimator.fit_predict(data.drop(["Freq_sinistre"],axis=1))
elapsed = time.time()-t
print("time elapsed : {} s".format(elapsed))

time elapsed : 7.044588088989258 s

We select the point of train_data for comparison

In [0]:
GMM_labels_all = GMM_labels_all[:len(GMM_labels_train)]
adjusted_rand_score(GMM_labels_train,GMM_labels_all)

0.2477805078878556

Une ARI de 0.25 est basse. Le clustering par GMM semble peu fiable. Nous allons essayer de calculer cette valeur pour différent nombres de clusters.

In [6]:
for n_clusters in range(1,10):

  estimator_train = GaussianMixture(n_components=n_clusters,
              covariance_type='full', max_iter=500, random_state=0)
  GMM_labels_train=estimator_train.fit_predict(train_data.drop(["Freq_sinistre"],axis=1))

  estimator = GaussianMixture(n_components=n_clusters,
              covariance_type='full', max_iter=500, random_state=0)
  GMM_labels_all=estimator.fit_predict(data.drop(["Freq_sinistre"],axis=1))

  GMM_labels_all = GMM_labels_all[:len(GMM_labels_train)]
  ari = adjusted_rand_score(GMM_labels_train,GMM_labels_all)
  print(f"{n_clusters} clusters : ARI = {ari}")

1 clusters : ARI = 1.0
2 clusters : ARI = 0.2181959753845813
3 clusters : ARI = 0.370497276938162
4 clusters : ARI = 0.46649178384124035
5 clusters : ARI = 0.2477805078878556
6 clusters : ARI = 0.11815108600122244
7 clusters : ARI = 0.21359781429012634
8 clusters : ARI = 0.5589418104416999
9 clusters : ARI = 0.29430320638946644

4 cluster maximise le ARI